/* MIXIN */
/* MAPS */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  background-color: #6c757d;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER & NAVBAR */
.headerNavbar {
  border-bottom: 1px solid #6c757d;
}

.imgStyle {
  height: 90px;
  width: 270px;
}

.headerStyle {
  text-align: center !important;
}

.menuStyle {
  justify-content: center;
}
.menuStyle ul li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
}

/* FOOTER */
.footerStyle {
  background-color: #6c757d;
  border-top: 1px solid #ffffff;
}
.footerStyle ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
.footerStyle ul li {
  padding: 5px;
  padding-top: 20px;
}
.footerStyle ul li a img {
  width: 30px;
  height: 30px;
}

/* ARTICLE */
.articleStyle {
  background: linear-gradient(#ffffff, #6c757d);
  height: 100%;
}
.articleStyle h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-style: normal;
  text-align: center;
  padding-top: 50px;
}
.articleStyle h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  padding-top: 25px;
}
.articleStyle a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: normal;
}

.btnStyle {
  display: grid;
  grid-template-columns: 120px 120px;
  gap: 15px;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 200px;
}

.btnStyle1 {
  transition: all 0.8s;
}
.btnStyle1:hover {
  transform: scale(1.1);
}

/* servicios */
.accordionStyle {
  padding-top: 50px;
  padding-bottom: 300px;
}

/* nosotros */
.cardsStyle {
  padding-top: 30px;
  padding-bottom: 50px;
}

/* integrantes */
.carouselStyle {
  padding-top: 20px;
  padding-bottom: 100px;
}

/* formulario */
.formStyle {
  padding-top: 30px;
  padding-bottom: 120px;
}

/* SASS 2 INDEX */
.sass2 {
  padding-bottom: 20px;
}
.sass2 .sass2Tittle {
  color: #000000;
  font-size: 20px;
  padding-bottom: 5px;
  text-align: center;
}
.sass2 .sass2Buttons {
  text-align: center;
}
.sass2 .sass2Buttons .sass2Buttons__1 {
  text-align: center;
}
.sass2 .sass2Buttons .sass2Buttons__2 {
  text-align: center;
}
.sass2 .sass2Buttons .sass2Buttons__3 {
  text-align: center;
}
.sass2 .sass2Buttons .button01, .sass2 .sass2Buttons .button03, .sass2 .sass2Buttons .button02 {
  border: none;
  padding-left: 3px;
  padding-right: 3px;
}
.sass2 .sass2Buttons .button01 a, .sass2 .sass2Buttons .button03 a, .sass2 .sass2Buttons .button02 a {
  text-decoration: none;
  color: black;
  font-size: 13px;
}
/* MEDIA QUERIES */
@media (min-width: 768px) {
  /* header & navbar */
  .menuStyle ul li a {
    font-size: 15px;
    color: #000000;
  }
  /* footer */
  .footerStyle ul li {
    padding: 10px;
    padding-top: 25px;
  }
  .footerStyle ul li a img {
    width: 35px;
    height: 35px;
  }
  /* article */
  .articleStyle h1 {
    font-size: 33px;
  }
  .articleStyle h4 {
    font-size: 18px;
  }
  .articleStyle a {
    font-size: 18px;
  }
  .btnStyle {
    grid-template-columns: 130px 130px;
    gap: 20px;
  }
  .btnStyle1:hover {
    transform: scale(1.2);
  }
}
@media (min-width: 992px) {
  /*header & navbar */
  .menuStyle ul li a {
    font-size: 16px;
    color: #000000;
  }
  /* footer */
  .footerStyle ul li {
    padding: 15px;
    padding-top: 30px;
  }
  .footerStyle ul li a img {
    width: 40px;
    height: 40px;
  }
  /* article */
  .articleStyle h1 {
    font-size: 35px;
  }
  .articleStyle h4 {
    font-size: 20px;
  }
  .articleStyle a {
    font-size: 20px;
  }
  .btnStyle {
    grid-template-columns: 140px 140px;
    gap: 25px;
  }
  .btnStyle1:hover {
    transform: scale(1.2);
  }
}

/*# sourceMappingURL=styles.css.map */
